li.enrollCourse{
    padding: 10px; 
    background-color: rgb(4, 242, 16);
    border-radius: 5px;

    
}
li.dashboard{
    list-style: none;
    font-size: 20px;
    padding: 10px; 
    background-color: rgba(1, 82, 6, 0.05);
    border-radius: 5px;
    margin-bottom: 10px;

    
}
.dashboardAnchor{
    color: rgb(4, 242, 16);
   }
   li > a > i.dfill{
    text-decoration: none;
    color: rgb(4, 242, 16);
    padding: 5px;
    font-size: 23px;
}
 .efill{
    color: white;
 }

li > a{
    text-decoration: none;
    color: rgb(4, 242, 16);
    padding: 5px;
    font-size: 23px;
}
.enrollAnchor{
    color: white;
   }

   button.btn{
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    border: 1px solid rgb(4, 242, 16);
    color: rgb(4, 242, 16);
    border-radius: 5px;

   }
   button.btn:hover{
    background-color: rgb(4, 242, 16);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    
   }
 
h3.courseTitlee{
  margin-bottom: 10px;
}